<!-- <ng-content></ng-content> -->

<!-- {{ user | json }} -->

<h1>{{ user.firstName | titlecase }} {{ user.lastName | titlecase }}</h1>

<p>
  Date of Birth : <span [innerText]="user.dob | date : 'dd/MM/yyyy'"></span>
</p>

<p *ngIf="user.isWorking; else elseTemplte">
  Income : {{ user.income | currency : "INR" }}
</p>

<p>Total Votes : {{ user.votes | number }}</p>

<!-- <ng-content></ng-content> -->

<input type="number" [(ngModel)]="user.votes" />

<input type="text" (keyup)="onKeyUp(inputDemo.value)" #inputDemo />

<!-- <ng-content select="footer"></ng-content> -->

<ng-template #elseTemplte>
  <p>Mr. {{ user.lastName | titlecase }} is NOT working now!</p>
</ng-template>
