<ng-content></ng-content>

<p>Date of Birth : <span [innerText]="user.dob"></span></p>

<p *ngIf="user.isWorking; else elseTemplte">Income : {{ user.income }}</p>

<p>Total Votes : {{ user.votes }}</p>

<!-- <ng-content></ng-content> -->

<input type="number" [(ngModel)]="user.votes" />

<input type="text" (keyup)="onKeyUp(inputDemo.value)" #inputDemo />

<!-- <ng-content select="footer"></ng-content> -->

<ng-template #elseTemplte>
  <p>Mr. {{ user.lastName }} is NOT working now!</p>
</ng-template>
