<h1>The Pipe Demo Component</h1>

<h3 *ngIf="isLoading">Loading...</h3>
<h3 *ngIf="!isLoading">Promise Data : {{ promise | async }}</h3>

<hr />

<h3>Country Code Pipe : {{ testString | countryCode : "USA" }}</h3>

<hr />

<div class="row mb-4">
  <div class="col-6">
    <div class="d-grid">
      <button class="btn btn-primary" (click)="addItem()">Add</button>
    </div>
  </div>
  <div class="col-6">
    <select class="form-control" [(ngModel)]="filteredValue">
      <option value="">All</option>
      <option value="pending">Pending</option>
      <option value="completed">Completed</option>
    </select>
  </div>
</div>

<ul class="list-group">
  <li
    *ngFor="let todo of todoCollection | filter : filteredValue"
    class="list-group-item mb-3"
  >
    {{ todo.label | uppercase }} - {{ todo.status }}
  </li>
</ul>
