<!-- <h1>Child Value : {{ childValue }}</h1> -->

{{ users | json }}

<ul class="list-unstyled list-group">
  <li
    appHighlight
    [favColor]="'lightgrey'"
    *ngFor="let user of users"
    class="list-group-item mb-4"
  >
    <div class="row">
      <div class="col-4 text-center">
        <app-user-image
          [user]="user"
          (childEvent)="onMoreInfo($event)"
        ></app-user-image>
      </div>
      <div class="col-8">
        <app-user-info [user]="user" (onChildEvent)="onChildInput($event)">
          <h1>{{ user.firstName }} {{ user.lastName }}</h1>
        </app-user-info>
      </div>
    </div>
  </li>
</ul>
