<div class="container">
  <h1>Hello World!!</h1>
  <!-- <input type="text" [(ngModel)]="title" />

  <button (click)="toggle = !toggle">Toggle</button> -->

  <!-- <app-life-cycle *ngIf="toggle" [title]="title"></app-life-cycle> -->

  <!-- <app-directive-demo></app-directive-demo> -->

  <!-- <app-pipe-demo></app-pipe-demo> -->

  <app-login *ngIf="!isAuthenticated()"></app-login>

  <!-- <app-registration></app-registration> -->

  <!-- <app-observable-demo></app-observable-demo> -->

  <!-- <app-posts></app-posts> -->

  <app-users *ngIf="isAuthenticated()"></app-users>
</div>
