.ng-invalid.ng-dirty[name="email"] {
  border-bottom: 4px red solid;
}
.ng-valid.ng-dirty[name="email"] {
  border-bottom: 4px green solid;
}
.ng-invalid.ng-dirty[name="password"] {
  border-bottom: 4px red solid;
}
.ng-valid.ng-dirty[name="password"] {
  border-bottom: 4px green solid;
}
